.form {
  &-group {
    margin: 1.2rem 0;
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }

  input [types='text'],
  input [types='email'],
  input [types='password'],
  input [types='date'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }
}
